:root {
  --bg-primary: #f3f1ee;
  --color-primary-dark: #333333;
  --color-primary-light: #fefefe;
  --color-white: #fff;
  --color-secondary-dark: #647b64;
  --color-accent: #f3b562;
  --color-grey2: #4f4f4f;
  --color-bg3: #f0dcc5;
  --color-icon-footer: #dfd1c0;
  --c: #92908f;
  --gap-size: 9px;
  --cell-size: 12px;
}

ul {
  padding: 0;
  margin: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
li {
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-primary-dark);
  background-color: var(--bg-primary);
}

.section {
  padding: 64px 0;
}

.hero.section {
  padding: 0 0 50px;
}

.list {
  list-style: none;
}

.header .link {
  position: relative;
  display: block;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: none;
  color: var(--color-primary-dark);
}

.link:after {
  content: ' ';
  position: absolute;
  bottom: 46px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--color-primary-dark);
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.link:hover:after {
  transform: scaleX(1);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.button {
  font-family: inherit;
  font-size: inherit;
  line-height: 1.5;
  font-weight: 500;
  color: var(--color-primary-light);
  border: none;
  padding: 24px;
  vertical-align: middle;
  border-radius: 2px;
  background: var(--color-secondary-dark);
  box-shadow: 0px 20px 40px rgba(128, 143, 150, 0.19);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 250ms ease-in-out, fill 250ms ease-in-out, box-shadow 250ms ease-in-out,
    background-color 250ms ease-in-out;
}

.button .icon {
  margin-left: 16px;
  fill: currentColor;
}

.button:hover,
.button:focus {
  color: var(--color-secondary-dark);
  background: var(--color-primary-light);
}

.button:active {
  color: var(--color-secondary-dark);
  background: var(--color-primary-light);
  box-shadow: 0px 20px 40px rgba(128, 143, 150, 0.4);
}

.button.secondary {
  padding: 12px 16px;
  text-transform: capitalize;
}

.row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.hero-details {
  padding-top: 140px;
}

.hero .title {
  position: relative;
  font-size: 36px;
  line-height: 1.33;
  font-weight: 500;
  text-transform: uppercase;
  font-variant: small-caps;
  letter-spacing: 0.04em;
  color: var(--color-primary-dark);
  margin-bottom: 24px;
  max-width: 600px;
}

.hero .title::before {
  content: ' ';
  position: absolute;
  left: 205px;
  top: -44px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: linear-gradient(
    197.92deg,
    #ef8031 -227.37%,
    rgba(239, 128, 49, 0.307045) 1.58%,
    rgba(239, 128, 49, 0) 103.02%
  );
}

.hero .button,
.advantages .button {
  text-transform: uppercase;
}

.hero .description {
  margin-bottom: 40px;
  max-width: 500px;
}

.hero .container {
  display: flex;
}

.title {
  font-size: 24px;
  line-height: 1.33;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--color-accent);
}

.subtitle {
  font-size: 36px;
  font-weight: 500;
  line-height: 1.5;
  text-transform: uppercase;
  color: var(--color-secondary-dark);
}

.description {
  letter-spacing: 0.04em;
  color: var(--color-grey2);
  transition: color 250ms ease-in-out;
}

.advantages .title,
.features .title,
.about-us .title,
.team .title {
  font-size: 24px;
  line-height: 1.33;
  font-weight: 400;
  color: var(--color-accent);
  margin-bottom: 8px;
}

.advantages .subtitle,
.features .subtitle,
.about-us .subtitle,
.team .subtitle {
  line-height: 1.33;
  margin-bottom: 40px;
}

.advantages-details {
  position: relative;
}

.advantages-details::before {
  content: ' ';
  position: absolute;
  left: -137px;
  top: -23px;
  width: 600px;
  height: 160px;
  background: linear-gradient(
    164.26deg,
    rgba(239, 128, 49, 0) -335.51%,
    rgba(239, 128, 49, 0.15) -20.24%,
    rgba(239, 128, 49, 0) 119.45%
  );
}

.advantages .list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.advantages .item {
  flex-basis: 288px;
  padding: 32px 40px;
  border-radius: 8px;
  cursor: pointer;
  transition: 250ms background-color ease-in-out, 250ms box-shadow ease-in-out;
}

.advantages .item:nth-child(odd) {
  margin-right: 32px;
}

.advantages .item:not(:nth-child(n + 3)) {
  margin-bottom: 42px;
}

.advantages .description,
.about-us .description {
  width: 460px;
  margin-bottom: 40px;
}

.advantages .item:hover {
  background-color: var(--color-white);
  box-shadow: 0px 5.87438px 31.33px rgba(155, 148, 148, 0.17);
}

.advantages .item:hover .image-box {
  fill: var(--color-white);
  background: var(--color-secondary-dark);
}

.advantages .name {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 8px;
}

.advantages .text {
  font-size: 14px;
  line-height: 1.57;
  max-width: 460px;
}

.image-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  margin-bottom: 20px;
  fill: var(--color-secondary-dark);
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
  transition: fill 250ms ease-in-out, background-color 250ms ease-in-out;
}

.advantages .image {
  display: block;
  width: 24px;
}

.about-us .row {
  position: relative;
}

.about-us .row::after {
  content: '';
  position: absolute;
  top: 40px;
  left: 40px;
  width: 570px;
  height: 530px;
  background: linear-gradient(
    197.92deg,
    rgba(239, 128, 49, 0) -227.37%,
    rgba(239, 128, 49, 0.15) 1.58%,
    rgba(239, 128, 49, 0) 103.02%
  );
  z-index: 100;
}

.features .list {
  position: relative;
}

.features .list::before {
  content: ' ';
  position: absolute;
  left: -137px;
  bottom: -23px;
  width: 224px;
  height: 224px;
  background-image: repeating-linear-gradient(
      var(--bg-primary) 0px var(--gap-size),
      transparent var(--gap-size) var(--cell-size)
    ),
    repeating-linear-gradient(
      90deg,
      var(--bg-primary) 0px var(--gap-size),
      var(--c) var(--gap-size) var(--cell-size)
    );
  z-index: -1;
}

.features .list::after {
  content: ' ';
  position: absolute;
  right: -137px;
  bottom: -23px;
  width: 600px;
  height: 160px;
  background: linear-gradient(
    164.26deg,
    rgba(239, 128, 49, 0) -335.51%,
    rgba(239, 128, 49, 0.15) -20.24%,
    rgba(239, 128, 49, 0) 119.45%
  );
  transform: rotate(180deg);
  z-index: -1;
}

.features .item {
  flex-basis: calc((100% - 2 * 44px) / 3);
  padding: 59px 50px;
  background: linear-gradient(
      358.27deg,
      rgba(100, 123, 100, 0.77) -118.86%,
      rgba(100, 123, 100, 0) 25.62%,
      rgba(100, 123, 100, 0) 98.53%
    ),
    #ffffff;
  border-radius: 8px;
  transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
  cursor: pointer;
}

.features .item:hover {
  color: var(--color-white);
  background: var(--color-secondary-dark);
}

.features h3 {
  font-size: 24px;
  line-height: 1.5;
  font-weight: 500;
  color: var(--color-primary-dark);
  margin-bottom: 16px;
  transition: color 250ms ease-in-out;
}

.features .item:hover h3,
.features .item:hover .description {
  color: var(--color-white);
}

.features .image-box {
  margin-bottom: 32px;
  fill: var(--color-secondary-dark);
  background-color: var(--color-white);
  transition: fill 250ms, background-color 250ms;
}

.features .item:hover .image-box {
  fill: var(--color-white);
  background-color: var(--color-secondary-dark);
}

.team .item {
  height: 408px;
  flex-basis: calc((100% - 2 * 32px) / 3);
  padding: 24px 32px;
  background: linear-gradient(
      358.27deg,
      rgba(100, 123, 100, 0.77) -118.86%,
      rgba(100, 123, 100, 0) 25.62%,
      rgba(100, 123, 100, 0) 98.53%
    ),
    #ffffff;
  border-radius: 8px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.team .image {
  position: absolute;
}

.team-member-details {
  padding-left: 155px;
}

.team h3 {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  color: var(--color-primary-dark);
}

.team .name {
  font-size: 14px;
  line-height: 1.57;
  color: var(--color-grey2);
}

.team.section {
  padding-bottom: 128px;
}

.footer.section {
  padding: 48px 0;
}

.footer {
  background-color: var(--color-bg3);
}

.footer .col {
  color: var(--color-grey2);
}

.image.logo {
  margin-bottom: 16px;
}

.column1 {
  width: 268px;
}

.column1 .text + .text {
  margin-top: 16px;
}

.column-title {
  font-weight: 500;
  color: var(--color-secondary-dark);
  margin-bottom: 24px;
}

.col-other .text:not(:last-child) {
  margin-bottom: 12px;
}

.footer-link {
  position: relative;
  display: block;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-primary-dark);
  text-decoration: none;
}

.footer-link:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  background-color: var(--color-primary-dark);
  transition: 250ms transform ease-in-out;
}

.footer-link:hover:after {
  transform: scaleX(1);
}

.footer-link-item {
  margin-bottom: 12px;
}

.text {
  color: #333333;
}

.container {
  width: 1200px;
  padding: 0 16px;
  margin: 0 auto;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav .list {
  display: flex;
}

.nav .item .link {
  padding: 60px 0 44px;
}

.nav .item:hover {
  cursor: pointer;
}

.nav .item:not(:last-child) {
  margin-right: 40px;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
}

.footer .image-box {
  width: 32px;
  height: 32px;
  fill: var(--color-secondary-dark);
  background-color: var(--color-icon-footer);
  border-radius: 50%;
}

.footer .image-box:hover {
  fill: var(--color-icon-footer);
  background-color: var(--color-secondary-dark);
}

.footer .list.social {
  justify-content: start;
  gap: 16px;
}

.social {
  padding-top: 24px;
}
